body {
    font-family: 'Archivo Narrow', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #292929;
}

div {
    margin: auto;
    padding: auto;
}

svg {
    margin: 0;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 40;
    color: #292929;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30;
    color: #292929;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14;
    color: rgb(0, 0, 0);
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

img.right {
    float:right;
}

text {
    font-family: "Archivo Narrow";
    font-size: 1vw;
    alignment-baseline: middle;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 6px;
}

div#graph-div {
    border: 1px solid black;
    background-color: black;
}

#graphSVG {
    float: left;
}

#graphSVG text {
    font-size: 1vw;
    fill: black;
}

div#header-div {
    margin:0px;
    background: white;
    width: 100%;
    height: 20%;
    background-image: url('images/fiberoptic.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    vertical-align: middle;
    display: table;
}

#header-div img {
    max-width: 100%;
    max-height: 100%;
}

.centerPseudo {
    display: inline-block;
    text-align: center;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#intro {
    background-color: #e6e6e6;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid black;
}

#outro {
    background-color: #e6e6e6;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid black;
}

div#paragraph {
    background-color: #bfbfbf;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: dashed;
    border-color: black;
}

#graphSVG line {
    stroke: white;
}

#graphSVG circle {
    fill: white;
}

#popup {
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    width: auto;
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
    position: absolute;
    pointer-events:none;
    border-radius: 5px;
    opacity: 0.90;
    color: black;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 100;
    text-align: center;
}

#title {
    color: #f2f2f2;
    font-weight: 100;
    vertical-align: bottom;
    display: table-cell;
}

#cable {
    fill: none;
}

#names {
    width: auto;
    height: auto;
    text-align: center;
}

.cable-name {
    font-size: 14px;
}

#close-button {
    transition: transform 0.1s;
    transform-origin: center center;
}

#close-button:hover {
    transform: scale(0.9, 0.9);
}

p.explanation {
    font-size: 20px;
}
